/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3C3C3C; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #DEDEDE; 
}

#config-panel{
    position: relative;
    display: inline-block;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    text-align: right;
    background-color: black;
}
#config-panel>button{
    margin: 0.5px;


}


body {overflow: auto;}
#left, .left{

    padding: 0;
    background: #232323;

}

#right {
    padding: 50px;
    height: 50%;
    
    /*position: fixed;*/
    right: 0px;
    /*overflow: scroll;*/


}
#bottom-section {
    /*overflow: scroll;*/
    /*position: relative;*/
    /*overflow: auto;*/

}
.btn{
    margin: 0;
    width: 100%;
    border-radius: 0;
}
.card.card-body.collapse{
    padding: 0;
    background: none;

   
}

.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button4:hover {background-color: #555555; color:white;} /* Black */

.button5 {
    background-color: #C5CAE9;
    position: relative;
} /* Black */
.button5:hover {color: #555555;background: white;
    width: 110%;
    margin-left: 7%;
    z-index: 1;} /* Black */


#right{
    /*background: yellow;*/
    z-index: 0;
    padding: 1%;
}

.btn-comp{
    display: inline-block;
    width: auto;
   margin: 10px 6px;
   background: none;
   border: #B2B7B7 1px solid;
   color:#B2B7B7;
   }
.btn-comp:hover{
    border: #00fe7d 1px solid;
    color:#00fe7d;
    background: none;
}

#top-section{
    /*background: red;*/
    padding: 0;
    text-align: center;
    background: #3C3C3C;
    width: 100%;
    position: fixed;
    z-index: 100;


}
#video-section{
    
    /*position: fixed;*/
   /* height: 100%;
    width: 100%;*/
    width: 480px;
    height: 270px;
    display: inline-block;
    vertical-align: baseline;


    /*text-align: center;*/

}
video{
    width: 100%;
    height: 100%;
     /*position: fixed;*/

}

#comp-button-panel{
    height: 100%;
    width: 100%;

    
}
.btn-image{
    width: 160px;
    height: 100px;
    opacity: 0.5;
    padding: 1px;

}
.btn-image:hover{
    opacity: 1;
    border: 1px solid #00fe7d;
}

div.panel.panel-default{
    background: #232323;
    border-radius: 0;
    /*border: 1px solid black;*/
    border-style: none;

}

/*div.panel.panel-default:hover{
    background: #2C2C2C;
   

}*/
.panel-title.panel-heading, .btn.btn-info{
    background: #232323;
    color: #B2B7B7;
    font-size:0.85em; 
    border: 0.5px solid #232323 ;
    border-bottom:0.5px solid #1D1D1D;  
}
.btn.btn-info{
    background: #232323;
    color: #B2B7B7;
    font-size:0.85em; 
    border: 0.5px solid #232323 ;
    /*border-bottom:0.5px solid #1D1D1D;  */
}
.panel-title.panel-heading:hover, .btn.btn-info:hover{
    background: #2C2C2C;
    color:#00fe7d;
    /*border: 0.5px solid #232323 !important;*/
}
.panel-body{
    border-top-style:  none !important;
    border-bottom: 0.5px solid #1D1D1D;
    padding: 0;
}
.btn-config{
    background: none;
    border: 0.5px #9E9E9E solid;
    color: #9E9E9E;
}
.btn-config:hover{
    border: 0.5px #1976d2 solid;
    color: #1976d2;
}
#btn-reset:hover{
    border: 0.5px #f44336 solid;
    color: #f44336;
}

.btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    background-color: #6f79a8;
    outline-offset: -2px;
}
/*#cc:hover{
    color:#1976d2;
    border: 1px solid #1976d2;
}*/

#bottom-section{
    margin-top: 300px;
    z-index: 0;
}
/*.panel-title.panel-heading, btn.btn-info{
    position: fixed;
}*/